<h1>Create a new definition for your word!</h1>

<form action="/<%= @one_word.id %>" method="post">
  <div class="form-group">
    <label for="def">Definition</label><br>
    <input type="text" name="def" class='definition' required>
  </div>

  <button type="submit" class='btn btn-info' name="submit">Add Definition</button>
</form>
