<h1>Create a new definition for your word!</h1>

<form action="/<%= @one_word.id %>" method="post">
  <label for="def">Definition</label>
  <input type="text" name="def">

  <button type="submit" name="submit">Add Definition</button>
</form>
