<h1><%= @one_word.name %></h1>

<% if @one_word.img!="" %>
  <img src="<%= @one_word.img %>" class='word_picture'>
<% end %>

<% (@one_word.def).each() do |definition| %>
  <div class="def_block">
    <p>Definition: <%= definition.text %></p>
  </div>
<% end %>

<a href="/<%= @one_word.id %>/new_def" class='btn btn-success'>Create a new definition!</a>
