<h1><%= @one_word.name %></h1>

<% if @one_word.img!="" %>
  <img src="<%= @one_word.img %>" class='word_picture' alt='Sorry this picture cannot be found.'>
<% end %>


<h3>Definitions:</h3>
<ol>
<% (@one_word.def).each() do |definition| %>
  <li>  <div class="def_block"><%= definition.text %></div></li>
<% end %>
</ol>
<a href="/<%= @one_word.id %>/new_def" class='btn btn-info'>Create a new definition!</a>
<a href="/" class='btn btn-info'>Back to all words!</a>
