.wrapper{
  background: teal;
}
h1{
  color: yellow;
  font-size: 40px;
  font-weight: bold;
  font-family: monospace;
}
li>a, h3, li{
  color: yellow;
}
p, label{
  color: yellow;
  font-size: 18px;
}
input{
  background: lightgrey;
  border-radius: 5px;
  width: 300px;
}
.definition{
  height: 80px;
  padding-bottom: 50px;
}
.word_picture{
  height:50px;
  border-radius: 10px;
}
